body {
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
    /* background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./homepageImg.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/backgroundImage.jpg');
    background-size: cover;
    background-position: 50% 75%;
    background-attachment: fixed;
    font-family: 'M PLUS 1p', sans-serif;
    /* background: rgb(121, 121, 121); */
    
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

.homepageTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 53%;
}
.carfectionLogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

h1 span{
    color: #c08d01;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 100px;
}

.allList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #ccc;
}

.eachType a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-right: 20px;
    color: #fff;
    font-size: 30px;
    border-right: 1px solid #c08d01;
    border-bottom: 1px solid #c08d01;
}

.eachType a:hover{
    box-shadow: 2px 2px 2px 2px #684c00;
    border-top: none;
    border-left: none;
}
.youtubeLink{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    bottom: 0;
    position: fixed;
}
.youtubeLogo{
    width: 100px;
    height: 70px;
}

.smallContainer{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-right: 20px;
    color: #fff;
    font-size: 26px;
    border-bottom: 1px solid #c08d01;
}

.smallContainer a:hover{
    box-shadow: 2px 2px 2px 2px #684c00;
    border: none;
}

.emptyList{
    /* text-align: center; */
    font-size: 30px;
    color: #fff;
    
}

.singleDiv{
    height: 100%;
}

.description{
    background: rgba(0, 0, 0, 0.56);
    color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.allBtns{
    padding: 8px 15px;
    font-size: 20px;
    background: #52B6D6;
    border: none;
    color: #fff;
}

.allBtns:hover{
    background: #CA0000;
}