<h1>Type name</h1>

{{#each allCar}}
    <a href="/car/{{_id}}">{{make}} {{model}}</a>
{{/each}}

<button class="allBtns"><a href="/car/new">Add</a></button>

<button class="allBtns"><a href="/type">Back</a></button>