<div class="mainContent">
    <div class="homepageTitle">
        <img src="/assets/carfectionLogo.jpg" alt="carfection logo" class="carfectionLogo"/>
        <h1>Car<span>fection</span></h1>
    </div>
    <h2>FOR THE LOVE OF CARS</h2>
    <div class="allList">
        {{#each allType}}
        <p class="eachType"><a href="/type/{{_id}}">{{name}}</a></p>
        {{/each}}
    </div>

    <button class="allBtns"><a href="/type/new">Add</a></button>

    <a href="https://www.youtube.com/user/XCARFilms" class="youtubeLink">Youtube Channel <img src="/assets/youtubeLogo.png" alt="youtube channel" class="youtubeLogo"/></a>

</div> 