<h1>Add New Type</h1>

<form action="/type" method="POST">
    <input type="text" placeholder="Name" name="name"/>
    <input type="text" placeholder="Description" name="description"/>
    <input type="text" placeholder="URL Of Image" name="picture"/>
    <input type="submit" value="Add" class="allBtns"/>
</form>

<button class="allBtns"><a href="/type">Home</a></button>