<h1>Add New Type</h1>

<form action="/type" method="POST">
    <input type="text" placeholder="Name" name="name"/>
    <input type="text" placeholder="Description" name="description"/>
    <input type="submit" value="Add"/>
</form>

<button><a href="/type">Home</a></button>