<h1>Add Event</h1>

<form action="/event" method="POST">
    <input type="text" placeholder="Name" name="name"/>
    <input type="Date" placeholder="Date" name="date"/>
    <input type="text" placeholder="Location" name="location"/>
    <input type="submit" value="Add"/>
</form>

<button><a href="/event">Home</a></button>